{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Блог при тренировки Django</title>
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
</head>
<body>
    <header>
        <h1>Мой Блог</h1>
        <nav>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">О блоге</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <h2>Заголовок поста</h2>
            <p>Текст поста...</p>
        </article>
        <!-- Дополнительные посты -->
    </main>

    <footer>
        <p>&copy; 2024 Мой Блог</p>
    </footer>
</body>
</html>